@font-face {
    font-family: CustomFont;
    src: url('/assets/fonts/custom.ttf');
}

body {
    background-color: rgb(255, 255, 255)
}

.ctrl-txt {
    margin: 0 auto;
    display: block;
}

.imagen {
    margin: 0 auto;
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: CustomFont;
}

.container {
    width: 100%;
    height: auto;
    text-align: center;
}

.moon {
    margin: 20px 0 0 0;
    scale:2;
}

.descripcion {
    margin: 0 auto;
    width: 50%;
}

canvas{
    padding: 0;
    margin: auto;
    display: block;
}